* {
  margin: auto;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 50px auto;
}

.header {
  display: flex;
  flex-direction: column;
}
.nav1 {
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 12px 0px;
}

.logo_span {
  display: flex;
  align-items: center;
  width: 119px;
  height: 28px;
}
.logo_span img {
  cursor: pointer;
}

.logo_span p {
  font-size: 18px;
  font-weight: 700;
  line-height: 22.68px;
  text-align: left;
  color: #000000;
  cursor: pointer;
}

.search_span {
  width: 530px;
  height: 48px;
  display: flex;
  align-items: center;
  /* padding-left: 22px; */
  gap: 10px;
  background-color: #f0f1f2;
  border-radius: 30px;
}

.search_span img {
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin-left: 22px;
  margin-right: 0px;
}

.search_span input {
  border: none;
  background-color: transparent;
  outline: none;
  width: 111px;
  font-size: 12px;
  font-weight: 400;
  line-height: 15.12px;
  text-align: center;
}

.brauzer_span {
  display: flex;
  align-items: center;
  gap: 6px;
}

.brauzer_span select {
  border: none;
  cursor: pointer;
  outline: none;
}
.brauzer_span img {
  cursor: pointer;
}

.location_span {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 48px;
}

.location_span span {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.location_span span p {
  color: #9a9ea6;
  font-size: 12px;
  font-weight: 400;
  line-height: 15.12px;
  text-align: left;
  width: 37px;
  height: 15px;
  margin-left: 0px;
}
.location_span span select {
  color: #4475f2;
  font-size: 16px;
  font-weight: 700;
  line-height: 20.16px;
  text-align: left;
  border: none;
  outline: none;
}

/* nav2 */
.nav2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 66px;
  width: 100%;
  border-top: 1px solid #dfdfe0;
}

.nav2 ul {
  display: flex;
  gap: 40px;
}

.nav2 ul li select {
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.64px;
  text-align: left;
  color: #9a9ea6;
  cursor: pointer;
}

.delete_div {
  display: flex;
  gap: 8px;
}

.delete_div span:nth-child(1) {
  width: 48px;
  height: 48px;
  border-radius: 30px;
  background-color: #4475f2;
  text-align: center;
  padding-top: 12px;
  cursor: pointer;
}

.delete_div span:nth-child(2) {
  width: 48px;
  height: 48px;
  border-radius: 30px;
  background-color: #e3ebfd;
  text-align: center;
  padding-top: 12px;
  cursor: pointer;
}

/* div hero part */

.hero-part {
  width: 1286px;
  height: 707px;
  /* border: 1px solid #3d3d3d; */
  margin-left: 120px;
  /* margin-top: 43px; */
  display: flex;
}
.hero-info-part {
  width: 660px;
  height: 529px;
  /* border: 1px solid #3d3d3d; */
  margin-top: 29px;
  /* background-color: blue; */
}
.hero-img-part {
  width: 693px;
  height: 707px;
  /* border: 1px solid #3d3d3d; */
}

.hero-info-part a {
  background-color: #e5edff;
  border-radius: 39px;
  padding: 8px 15px 10px 22px;
  text-decoration: none;
  color: #4f7df3;
  font-size: 14px;
  font-weight: 700;
  line-height: 17.64px;
  text-align: left;
}

h1 {
  width: 658px;
  font-size: 76px;
  font-weight: 800;
  line-height: 89px;
  letter-spacing: -0.04em;
  text-align: left;
  color: #000;
  margin-top: 12px;
}
h1 span {
  color: #4475f2;
  font-size: 76px;
  font-weight: 800;
  line-height: 89px;
  letter-spacing: -0.04em;
  text-align: left;
}
.hero-part p {
  width: 477px;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  color: #5e6282;
  margin-top: 31px;
  margin-left: 0px;
}

.buttons {
  display: flex;
  gap: 41px;
  margin-top: 34px;
}

.buttons button {
  width: 198px;
  height: 60px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.buttons button:first-child {
  font-size: 16px;
  font-weight: 700;
  line-height: 20.16px;
  text-align: center;
  background-color: #4475f2;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: #fff;
  border-radius: 10px;
}

.buttons button:last-child {
  border: none;
  background-color: transparent;
  display: flex;
  gap: 10px;
}

.buttons button:last-child span {
  color: #686d77;
  font-size: 17px;
  font-weight: 700;
  line-height: 21.42px;
  text-align: left;
}

.buttons button img {
  border: 1px solid #4475f2;
  border-radius: 50%;
  padding: 10px 10px 8px 10px;
}

.logotips {
  width: 1196px;
  height: 180.57px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -85px;
  margin-bottom: 153.43px;
}

.logotips img:nth-child(1) {
  width: 144.9px;
  height: 144.9px;
}
.logotips img:nth-child(2) {
  width: 192.67px;
  height: 122.61px;
}
.logotips img:nth-child(3) {
  width: 268.63px;
  height: 180.57px;
}
.logotips img:nth-child(4) {
  width: 180.57px;
  height: 35.67px;
}
.logotips img:nth-child(5) {
  width: 104.78px;
  height: 23.41px;
}

/* div  information*/
.information {
  width: 1196px;
  height: 532.64px;
  display: flex;
  flex-direction: column;
  margin-bottom: 103.36px;
}

.information h5 {
  font-size: 18px;
  font-weight: 800;
  line-height: 26.5px;
  letter-spacing: 0.095em;
  text-align: left;
  color: #4475f2;
  margin-left: 0px;
  margin-bottom: 13px;
}

.information h2 {
  font-size: 36px;
  font-weight: 800;
  line-height: 50px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #14183e;
  margin-left: 0px;
  margin-bottom: 46.27px;
}

.information .blocks {
  display: flex;
  gap: 26.67px;
}

.information .blocks div {
  width: 278.46px;
  height: 392.36px;
  box-shadow: 0px 1.07px 4.94px 0px #81818104;

  box-shadow: 0px 2.48px 11.48px 0px #81818108;

  box-shadow: 0px 4.45px 20.61px 0px #8181810b;

  box-shadow: 0px 7.39px 34.2px 0px #8181810e;

  box-shadow: 0px 12.17px 56.35px 0px #81818111;

  box-shadow: 0px 21.27px 98.48px 0px #81818115;

  box-shadow: 0px 46px 213px 0px #8181811f;
  position: relative;
}
.information .blocks div img {
  border-radius: 10px;
}

.information .blocks div span {
  width: 149px;
  height: 76px;
  position: absolute;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  top: 317.58px;
  left: 0px;
  padding: 12px;
  background: #ffffffb2;
}

.information .blocks div span h5 {
  font-size: 17px;
  font-weight: 600;
  line-height: 20.5px;
  text-align: left;
  color: #042521;
}

.information .blocks div span p {
  font-size: 15px;
  font-weight: 500;
  line-height: 20.5px;
  text-align: left;
  color: #80918e;
}

.maps_info {
  width: 1196px;
  display: flex;
  flex-direction: column;
}

.maps_info h6 {
  font-size: 18px;
  font-weight: 800;
  line-height: 26.5px;
  letter-spacing: 0.095em;
  text-align: center;
  color: #4737ff;
  margin-bottom: 19px;
}

.maps_info h2 {
  font-size: 56px;
  font-weight: 800;
  line-height: 62px;
  letter-spacing: -1px;
  text-align: left;
  color: #151d21;
  margin-bottom: 18px;
}

.maps_info p {
  width: 820px;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  color: #18191f;
  margin-bottom: 45px;
}
